// These are the necessary positioning elements to create those full height sections

@mixin basicBody($h)
  display  : block
  width    : 70%
  height   : $h
  margin   : 0px auto
  background-color : white
  padding  : 20px

@mixin simpleEase()
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease

@mixin simpleEaseFast()
  -webkit-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  -ms-transition: all 0.25s ease
  transition: all 0.25s ease


html, body
  height: 100%
  width : 100%
  padding: 0
  margin: 0

html
  position          : absolute
  overflow          : hidden
  body
    margin            : 0px !important
    padding           : 0px
    background-color  : white
    font-family       : sans-serif
    h3, h2, h1, ul, li, div
      margin: 0px
      padding: 0px
    .content-pane
      height            : 100%
      overflow-y        : scroll
      overflow-x        : hidden

@-webkit-keyframes backgroundAnimation
  0%
    background-color: rgba(255,255,255,0.2)
  50%
    background-color: rgba(255,255,255,0.6)
  100%
    background-color: rgba(255,255,255,0.2)

@-webkit-keyframes goFull
  100%
    width : 100%
@-webkit-keyframes goShort
  100%
    width : 350px

#name
  width: 350px
  padding-top: 80px
  float: left
  z-index: 1100

  h1
    width: 100%
    padding: 5px 0px 5px 0px
    background-color: white
    display: inline-block
    font-style: italic
    font-size: 70px
    text-align: center
  &.fixed-to-top
    position: fixed
    padding-top: 0px
    @media screen and (max-width: 880px)
      -webkit-animation   : goFull 500ms forwards

#arrow
  border-color        : rgba(255,255,255,0.0)
  border-style        : solid
  border-width        : 10px
  background-color    : rgba(255,255,255,0.8)
  background-repeat   : no-repeat
  display             : block
  position            : absolute
  left                : -webkit-calc(50% - 100px)
  top                 : -webkit-calc(100%)
  width               : 118px
  height              : 34px
  background-size     : cover
  img
    width: 115px

#navigation-bar-container
  position: relative
  height: 91px
  bottom: auto
  width: 100%
  float: right
  z-index : 10
  @media screen and (max-width: 880px)
    height : 30px

  &.fixed-to-top
    position  : fixed
    top       : 0px
    right     : 15px
    left      : 0px
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,.2)
    @media screen and (max-width: 880px)
      top     : 91px
  #navigation-bar
    position              : absolute
    left                  : 0px
    right                 : 0px
    #navigation-buffer
      width : 350px
      height : 91px
      display: inline-block
      float : left
      @media screen and (max-width: 880px)
        height : 0px
        width : 100%
        background-color : white
        z-index: 5

    #navigation-list
      overflow : auto
      @media screen and (max-width: 880px)
        overflow : visible
      ul
        font-size: 0px
        li
          display           : inline-block
          height            : 91px
          width             : 20%
          overflow-x: hidden
          float: right
          @media screen and (max-width: 880px)
            font-size     : 15px !important
            padding-top   : 7px
            height        : 30px
          a
            font-style      : italic
            width           : 100%
            display         : block
            text-decoration : none
            color           : black
            text-align      : center
            font-size       : 30px
            padding-top     : 27px
            @media screen and (max-width: 1200px)
              font-size     : 19px !important
              padding-top   : 30px
            @media screen and (max-width: 880px)
              font-size     : 15px !important
              padding-top   : 3px

          &.current
            background-color: rgba(0,0,0, 1)
            @include simpleEase
            a
              color: white
              @include simpleEase
          &.not_current
            background-color: rgba(255,255,255, 1)
            @include simpleEase
            a
              color: black
              @include simpleEase
          &.not_current:hover
            @include simpleEase
            a
              color: rgba(0,0,0, 0.4)

// Separate page rules
.page
  display           : block
  width             : 100%
  height            : 100%
  min-height        : 700px
  padding           : 0px
  background-size   : cover
  background-blend-mode :darken
  background-color      :rgb(230,230,230)

  .cleardiv
    clear           : both
  .body
    position        : relative
    z-index         : 5
    display         : block
    width           : 60%
    height          : 100%

  h4,h3,h2,h1
    background-color: white
    display: inline-block
    padding: 5px 20px
    font-style: italic

  h1
    font-size: 70px
  p
    margin  :   0px auto

  &#landing
    background-image  : url("/images/landing_bg.jpg")
    padding-top       : 171px
    .info
      h3
        padding: 5px 28px

  &#about
    background-image  : url("/images/about_bg.jpg")
    overflow          : hidden
    min-height:  900px
    .body
      z-index : 1000
    #placeholder_nav_div
      display: block
      height          : 91px
      width : 100%
    p
      margin: 20px auto 5px
      padding: 20px

      width: 70%
      display:block
      background-color : white
    .reel
      padding : 20px

      iframe
        display: block
        width : 60%
        margin: 0px auto

  &#work
    background-image  : url("/images/work_bg.jpg")
    .body
      margin   : 0px auto
      background-color : white
      table
        table-layout : fixed
        -webkit-border-vertical-spacing: 0px
        -webkit-border-horizontal-spacing: 0px
        td
          @include simpleEaseFast()
          &.selected
            border-bottom: solid black 1px
            cursor: default
          &:not(.selected):hover
            color : rgba(0, 0, 0, 0.4)
            cursor: pointer
          a
            width : 100%
            text-align : center
            display : block
            font-weight : bold
            font-size : 20px
      .work-page-view
        width: 100%
        display: block
        &.hidden
          display: none
        p
          margin: 20px auto 5px
          padding: 20px

          width: 70%
          display:block
          background-color : white
      .work-page-footer
        width: 100%
        text-align: center
        position: absolute
        bottom: 40px
        a
          text-decoration: none
          color: gray
          @include simpleEaseFast()
          &:hover
            color: black


  &#gear
    background-image  : url("/images/gear_bg.jpg")
    .body
      @include basicBody(100%)

  &#blog
    background-image  : url("/images/blog_main_bg.jpg")
    .body
      @include basicBody(100%)
      .blog_post
        height : 95%
        .blog_post_header
          text-align: center
          margin-bottom: 5px
          h2
            display: inline-block
            padding-left : 0px
            font-size: 40px
            font-style: normal
          p
            display: inline-block
            color: gray
        .blog_post_body
          margin-left: 40px
          margin-right: 40px
          #video_insert
            margin-bottom: 20px
            iframe
              display: block
              margin : 0px auto
      #see-all
        text-align: center
        a
          color : grey
          text-decoration : none
          @include simpleEase()
          &:hover
            color : black

  &#contact
    background-image  : url("/images/contact_bg.jpg")
    .body
      @include basicBody(100%)
      text-align: center
      a
        text-decoration: none
        color: gray
        @include simpleEase()
        &:hover
          color: black

// WORK ITEMS EDIT PAGE

.work-items-edit-page
  input
    width: 98%
  .x-button
    color: lighten( red, 20% )
    &:hover
      color: red

// FLASH ALERTS

.alert
  &.alert-success
    background-color: rgba( 0, 255, 0, 0.75 )
  &.alert-error
    background-color: rgba( 255, 0, 0, 0.75 )
