
// These are the necessary positioning elements to create those full height sections


html
  position          : absolute
  overflow          : hidden
  height            : 100%

  body
    height            : 100%
    margin            : 0px !important
    padding           : 0px
    background-color  : white
    font-family       : sans-serif
    h3, h2, h1, ul, li, div
      margin: 0px
      padding: 0px
    .content-pane
      height            : 100%
      overflow-y        : scroll
      overflow-x        : hidden

@-webkit-keyframes backgroundAnimation
  0%
    background-color: rgba(255,255,255,0.2)
  50%
    background-color: rgba(255,255,255,0.6)
  100%
    background-color: rgba(255,255,255,0.2)

#navigation-bar
  position              : fixed
  height                : 80px
  left                  : 0px
  right                 : 0px
  bottom                : -80px
  background-color      : rgba(255,255,255,0.2)
  #arrow
    border-color        : rgba(255,255,255,0.0)
    border-style        : solid
    border-width        : 10px
    background-color    : rgba(255,255,255,0.2)
    background-repeat   : no-repeat
    display             : block
    position            : absolute
    left                : -webkit-calc(50% - 100px)
    top                 : -80px
    width               : 200px
    height              : 60px
    background-image    : url("/images/downArrow.png")
    background-size     : cover
    -webkit-animation   : backgroundAnimation 2000ms infinite
  ul
    li
      display           : inline-block
      height            : 100%
      width             : 19.75%
      overflow-x: hidden
      a
        font-style      : italic
        width           : 100%
        height          : 60px
        display         : block
        text-decoration : none
        color           : black
        text-align      : center
        vertical-align  : middle
        font-size       : 30px
        padding-top     : 20px
        &:hover
          background-color : rgba(255,255,255,0.8)
      &.current
        background-color: rgba(255,255,255,0.8)
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        -ms-transition: all 0.5s ease
        transition: all 0.5s ease
      &.not_current
        background-color: rgba(255,255,255,0.0)
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        -ms-transition: all 0.5s ease
        transition: all 0.5s ease
// Separate page rules
.page
  display           : block
  width             : 100%
  min-height        : 100%
  padding           : 0px
  padding-top       : 80px
  background-size   : cover

  &#landing
    background-image  : url("/images/landing_bg.jpg")

    h3,h2,h1
      background-color: white
      display: inline-block
      padding: 5px 20px
      font-style: italic

    h1
      font-size: 70px

  &#about
    background-image  : url("/images/about_bg.jpg")

    p
      margin: 10px auto
      padding: 20px

      width: 70%
      display:block
      background-color : white

    .reel
      padding : 20px

      iframe
        display: block
        width : 60%
        margin: 0px auto

  &#work
    background-image  : url("/images/work_bg.jpg")
