%link{ :rel => 'stylesheet', :type => 'text/css', :href => url("/blog_style.css")}

#blog_background
#blog_content
  %h1 BLOG
  %a.nav_link{ :href => "/" } Home
  %br

  / posts contain lots of yummy data. some keys include:
  / - post_url
  / - date
  / - title
  / - body

  - offset = 10
  %ul
    - @posts.each do | post |
      - if !post.has_key?("publisher")
        %li.post_item
          .blog_post
            .blog_post_header
              %h2= post["title"]
            .blog_post_body
              %p= post["body"]
            .blog_post_footer
              %p= post["date"]
  - if offset < @total_posts
    %a{ :href => "" } Older