// layout.haml

!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= @title
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/main_style.css" }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/blog_style.css" }
    // = css :application
    // = js :application
  %body
    - if flash[:notice]
      %p.alert.alert-success= flash[:notice] 
    - if flash[:error]
      %p.alert.alert-error= flash[:error] 

    .content-pane
      = yield

%script{ :src=> "http://code.jquery.com/jquery-1.10.2.min.js" }
%script{ :src=> "http://getbootstrap.com/dist/js/bootstrap.min.js" }
%script{ :src=> "/application.js" }
:javascript
  //** removes alerts after 4 seconds */
  window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();
      });
  }, 4000);
// %script{:src=>"/javascripts/script.js"}