html
{
  position          : absolute;
  overflow          : hidden;
  height            : 100%;
}

body
{
  height            : 100%;

  margin            : 0px !important;
  padding           : 0px;
  background-color  : white;

  font-family       : sans-serif;
}

h3, h2, h1, ul, li, div
{
  margin: 0px;
  padding:0px;
}

.content-pane
{
  height            : 100%;

  overflow-y        : scroll;
  overflow-x        : hidden;
}

.page
{
  display           : block;
  width             : 100%;
  min-height        : 100%;
  padding           : 0px;

  background-size   : cover;
}
.page p
{
  margin: 10px auto;
  padding: 20px;

  width: 70%;
  display:block;
  background-color : white;
}

#landing
{
  background-image  : url("images/landing_bg.jpg");

  padding-top: 30px;
}
#landing h3, #landing h2, #landing h1
{
  background-color: white;
  display: inline-block;
  padding:5px 20px;
  font-style: italic;
}

#landing h1
{
  font-size: 70px
}
#about
{
  background-image  : url("images/about_bg.jpg");
}
#about .reel
{
  padding : 20px;
}
#about .reel iframe
{
  display: block;
  width : 60%;
  margin: 0px auto;
}

#work
{
  background-image  : url("images/work_bg.jpg");
}